.edit-remove {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__child {
    margin-right: 5px;
  }

  &__option {
    cursor: pointer;
  }

  &__option-remove {
    margin-top: 10px;
  }
}
