@import "./fonts.scss";

* {
  padding: 0;
  margin: 0;

  font-family: "Open Sans";
  color: #000;
  text-decoration: none;

  box-sizing: border-box;
}

.screen {
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 50px;
  padding-bottom: 50px;

  margin-right: 375px;
}

.filters {
  margin-top: 50px;
  margin-bottom: 30px;
}

.filter-bar {
  display: flex;
  flex-direction: row;

  align-items: center;

  &__back {
    display: flex;
    align-items: center;

    margin-right: 30px;

    cursor: pointer;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
  }

  &__option {
    margin-left: 50px;
  }
}

.right-bar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 375px;
  overflow-y: scroll;

  padding-top: 20px;
  padding-left: 30px;
  padding-right: 45px;

  border-left: 2px solid #000;

  &__button {
    margin-top: 20px;

    display: flex;

    align-items: center;
    justify-content: center;
  }

  &__section {
    margin-top: 30px;

    .section {
      &__label {
        font-weight: bold;
        font-size: 18px;
      }

      &__child {
        margin-top: 20px;
      }
    }
  }

  &__section-row {
    display: flex;
    flex-direction: row;

    & > * {
      margin-left: 20px;
    }

    & > *:nth-child(1) {
      margin-left: 0;
    }
  }
}

.right-bar__dates-card-error {
  color: #ff0000;
}

.filter-select > div {
  width: 100%;
}

.filter-select label {
  background-color: #fff;
  padding: 0 5px;
}

.MuiSelect-select:focus {
  background-color: #fff !important;
}

.MuiPickersDay-daySelected .MuiTypography-colorInherit {
  color: #fff;
}
