.right-bar {
  background: #fff;

  &__option.option {
    margin-top: 30px;

    .option {
      &__label {
        font-weight: bold;
        font-size: 18px;
      }

      &__child {
        margin-top: 20px;
      }
    }
  }

  &__option-row {
    display: flex;
    flex-direction: row;

    & > * {
      margin-left: 20px;
    }

    & > *:nth-child(1) {
      margin-left: 0;
    }
  }
}
