.main {
  &__groups {
    display: grid;
    min-width: 800px;
    max-width: 800px;

    grid-template-columns: repeat(4, auto);
    column-gap: 30px;
    row-gap: 20px;
  }

  &__top-bar {
    display: flex;
    flex-direction: row;

    margin-top: 50px;
    margin-bottom: 30px;

    justify-content: space-between;
    align-items: center;
  }
}
